<nav class="topnav">
    <div class="nav-inner">
        <a class="nav-brand" href="">
            <div class="brand-icon">🌲</div>
            <span class="brand-text">Bob Ross Blog</span>
        </a>

        <button class="nav-toggler" @onclick="ToggleNav" title="Toggle navigation">&#9776;</button>

        <div class="@NavBodyClass">
            <div class="nav-links">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                <span class="nav-separator"></span>
                <NavLink class="nav-link" href="posts">Posts</NavLink>
            </div>
            <div class="nav-actions">
                <NavLink class="btn-new-post" href="new-post">+ New Post</NavLink>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapsed = true;
    private string NavBodyClass => collapsed ? "nav-body nav-collapsed" : "nav-body";
    private void ToggleNav() => collapsed = !collapsed;
}
