<div class="flex items-center space-x-6">
    <NavLink class="text-gray-700 hover:text-blue-600 font-medium transition-colors" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <NavLink class="text-gray-700 hover:text-blue-600 font-medium transition-colors" href="blog">
        Blog
    </NavLink>

    <NavLink class="text-gray-700 hover:text-blue-600 font-medium transition-colors" href="counter">
        Counter
    </NavLink>

    <NavLink class="text-gray-700 hover:text-blue-600 font-medium transition-colors" href="weather">
        Weather
    </NavLink>
</div>